*{
  margin: 0;
  padding: 0;
  list-style: none;
}

body{
  padding bottom: 600px;
}
h1{
  margin: 30px;
}

.wrap{
  padding: 10px;
  width: 520px;
  margin: 10px 20px;
  box-shadow: 0px 0px 0px 1px #CCC;
  overflow: hidden;
}

h2{
    font-size: 24px;
    line-height: 1.3;
    padding-bottom: .4em;
}
p{
  font-size: 16px;
  line-height: 1.7;
}
.pic{
  padding-right: 10px;
}

.pic img{
   border-radius: 50%;
}
.sample .pic{
  vertical-align: top;
}










.sample2 .pic{
  width: 40px;
  box-sizing: border-box;
  float: left;
}
.sample2 .text{
  box-sizing: border-box;
  float: left;
  width: 460px;
}






.sample3 .pic{
  width: 40px;
  box-sizing: border-box;
  float: left;
}
.sample3 .text{
  box-sizing: border-box;
  margin-left:  40px;
}








.sample4 .pic{
  width: 40px;
  box-sizing: border-box;
  float: left;
}
.sample4 .text{
  box-sizing: border-box;
  overflow: hidden;
}


